@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fasthand&display=swap");
*,
*::before,
*::after {
  padding: 0px;
  margin: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #ffffff;
}

::-webkit-scrollbar-thumb {
  background: blue;
  border-radius: 50px;
}

body,
html {
  width: 100vw;
  height: 100vh;
  font-family: "Quicksand", sans-serif;
  position: relative;
  overflow-x: hidden;
  background-color: rgb(240, 240, 240);
}

.cover--section {
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), to(rgba(0, 0, 0, 0.8))), url("/images/christopher-gower-m_HRfLhgABo-unsplash.jpg");
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.8)), url("/images/christopher-gower-m_HRfLhgABo-unsplash.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  line-height: 2;
}
.cover--section h1.name--area {
  font-family: "Quicksand", sans-serif;
  color: white;
  text-transform: uppercase;
  font-size: 5rem;
  letter-spacing: 3px;
}
@media screen and (min-width: 300px) {
  .cover--section h1.name--area {
    font-size: 1.4rem;
  }
}
@media screen and (min-width: 400px) {
  .cover--section h1.name--area {
    font-size: 1.5rem;
  }
}
@media screen and (min-width: 500px) {
  .cover--section h1.name--area {
    font-size: 2rem;
  }
}
@media screen and (min-width: 600px) {
  .cover--section h1.name--area {
    font-size: 2.6rem;
  }
}
@media screen and (min-width: 700px) {
  .cover--section h1.name--area {
    font-size: 2.6rem;
  }
}
@media screen and (min-width: 740px) {
  .cover--section h1.name--area {
    font-size: 3rem;
  }
}
@media screen and (min-width: 770px) {
  .cover--section h1.name--area {
    font-size: 3.5rem;
  }
}
.cover--section hr.divider {
  width: 300px;
  height: 2px;
  background-color: white;
  margin-bottom: 1rem;
}
@media screen and (min-width: 325px) {
  .cover--section hr.divider {
    width: 100px;
  }
}
@media screen and (min-width: 380px) {
  .cover--section hr.divider {
    width: 150px;
  }
}
@media screen and (min-width: 450px) {
  .cover--section hr.divider {
    width: 150px;
  }
}
@media screen and (min-width: 770px) {
  .cover--section hr.divider {
    width: 200px;
  }
}
.cover--section .role--short--desc {
  color: white;
  font-weight: 500;
  text-transform: uppercase;
  font-size: 2rem;
}
@media screen and (min-width: 325px) {
  .cover--section .role--short--desc {
    font-size: 1rem;
  }
}
@media screen and (min-width: 380px) {
  .cover--section .role--short--desc {
    font-size: 1.2rem;
  }
}
@media screen and (min-width: 450px) {
  .cover--section .role--short--desc {
    font-size: 1.2rem;
  }
}
@media screen and (min-width: 770px) {
  .cover--section .role--short--desc {
    font-size: 1.5rem;
  }
}
.cover--section .cover--btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
.cover--section .cover--btns a {
  background-color: transparent;
  padding: 0.4rem 1.3rem;
  color: white;
  font-size: 1.2rem;
  font-family: "Quicksand", sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  border: 1px solid white;
  margin: 1rem 1rem;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
@media screen and (min-width: 325px) {
  .cover--section .cover--btns a {
    padding: 0.4rem 0.6rem;
    font-size: 0.8rem;
  }
}
@media screen and (min-width: 380px) {
  .cover--section .cover--btns a {
    padding: 0.4rem 1rem;
    font-size: 0.8rem;
  }
}
@media screen and (min-width: 450px) {
  .cover--section .cover--btns a {
    padding: 0.4rem 1rem;
    font-size: 0.9rem;
  }
}
@media screen and (min-width: 770px) {
  .cover--section .cover--btns a {
    padding: 0.4rem 1rem;
    font-size: 1rem;
  }
}
.cover--section .cover--btns a:nth-child(1):hover, .cover--section .cover--btns a:nth-child(2):hover, .cover--section .cover--btns a:nth-child(3):hover {
  cursor: pointer;
  background: rgba(0, 0, 0, 0.479);
  color: white;
  -webkit-transform: scale(1);
          transform: scale(1);
  border: 1px solid transparent;
}
.cover--section .cover--btns a:active, .cover--section .cover--btns a:focus {
  outline: none;
}

header#header {
  width: 100vw;
  height: 8vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1rem 5rem;
  background-color: white;
  position: fixed;
  top: -100px;
  left: 0;
  -webkit-transition: top 0.3s ease;
  transition: top 0.3s ease;
}
header#header .logo--area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: bolder;
}
header#header .logo--area .logo--darker {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
header#header .logo--area .logo--darker .box {
  margin-right: 0.5rem;
}
header#header .logo--area .logo--darker .box .fa-square {
  -webkit-animation: twinkle 0.5s alternate infinite;
          animation: twinkle 0.5s alternate infinite;
}
header#header .logo--area .logo--lighter {
  margin-left: 0.5rem;
}
header#header nav .nav--list .nav--items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
header#header nav .nav--list .nav--items .nav--item {
  text-transform: uppercase;
  list-style-type: none;
  margin: 0 0.3rem;
}
header#header nav .nav--list .nav--items .nav--item a {
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-weight: bolder;
  font-size: 0.9rem;
  font-family: "Quicksand", sans-serif;
}
header#header nav .nav--list .nav--items .nav--item a:hover {
  cursor: pointer;
}

@-webkit-keyframes twinkle {
  0% {
    color: red;
  }
  20% {
    color: rgb(0, 102, 255);
  }
  40% {
    color: rgb(234, 0, 255);
  }
  60% {
    color: rgb(238, 255, 0);
  }
  80% {
    color: rgb(0, 255, 21);
  }
}

@keyframes twinkle {
  0% {
    color: red;
  }
  20% {
    color: rgb(0, 102, 255);
  }
  40% {
    color: rgb(234, 0, 255);
  }
  60% {
    color: rgb(238, 255, 0);
  }
  80% {
    color: rgb(0, 255, 21);
  }
}
#hero--section {
  width: 100%;
  height: 100vh;
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}
@media screen and (min-width: 300px) {
  #hero--section {
    margin-top: 7rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    padding: 0 10rem;
  }
}
@media screen and (min-width: 400px) {
  #hero--section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    padding: 0 10rem;
  }
}
@media screen and (min-width: 500px) {
  #hero--section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    padding: 0 10rem;
  }
}
@media screen and (min-width: 600px) {
  #hero--section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
@media screen and (min-width: 700px) {
  #hero--section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
@media screen and (min-width: 800px) {
  #hero--section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
@media screen and (min-width: 900px) {
  #hero--section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
@media screen and (min-width: 1020px) {
  #hero--section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}
#hero--section .social--links {
  position: fixed;
  top: 200px;
  left: 0px;
  z-index: 99;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media screen and (min-width: 325px) {
  #hero--section .social--links {
    top: 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}
@media screen and (min-width: 380px) {
  #hero--section .social--links {
    top: 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}
@media screen and (min-width: 450px) {
  #hero--section .social--links {
    top: 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}
@media screen and (min-width: 730px) {
  #hero--section .social--links {
    top: 200px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
@media screen and (min-width: 770px) {
  #hero--section .social--links {
    top: 200px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
#hero--section .social--links span.gmail {
  padding: 1rem;
  background: rgb(245, 17, 47);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
#hero--section .social--links span.gmail .fa-google {
  color: white;
  font-size: 2rem;
}
@media screen and (min-width: 325px) {
  #hero--section .social--links span.gmail .fa-google {
    font-size: 1rem;
  }
}
@media screen and (min-width: 380px) {
  #hero--section .social--links span.gmail .fa-google {
    font-size: 1.1rem;
  }
}
@media screen and (min-width: 450px) {
  #hero--section .social--links span.gmail .fa-google {
    font-size: 1.1rem;
  }
}
@media screen and (min-width: 765px) {
  #hero--section .social--links span.gmail .fa-google {
    font-size: 1.4rem;
  }
}
#hero--section .social--links span.linkedin {
  padding: 1rem;
  background: rgb(6, 91, 161);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
#hero--section .social--links span.linkedin .fa-linkedin-in {
  color: white;
  font-size: 2.3rem;
}
@media screen and (min-width: 325px) {
  #hero--section .social--links span.linkedin .fa-linkedin-in {
    font-size: 1rem;
  }
}
@media screen and (min-width: 380px) {
  #hero--section .social--links span.linkedin .fa-linkedin-in {
    font-size: 1.1rem;
  }
}
@media screen and (min-width: 450px) {
  #hero--section .social--links span.linkedin .fa-linkedin-in {
    font-size: 1.1rem;
  }
}
@media screen and (min-width: 765px) {
  #hero--section .social--links span.linkedin .fa-linkedin-in {
    font-size: 1.4rem;
  }
}
#hero--section .social--links span.github {
  padding: 1rem;
  background: rgb(0, 0, 0);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
#hero--section .social--links span.github .fa-github {
  color: white;
  font-size: 2rem;
}
@media screen and (min-width: 325px) {
  #hero--section .social--links span.github .fa-github {
    font-size: 1rem;
  }
}
@media screen and (min-width: 380px) {
  #hero--section .social--links span.github .fa-github {
    font-size: 1.1rem;
  }
}
@media screen and (min-width: 450px) {
  #hero--section .social--links span.github .fa-github {
    font-size: 1.1rem;
  }
}
@media screen and (min-width: 765px) {
  #hero--section .social--links span.github .fa-github {
    font-size: 1.4rem;
  }
}
#hero--section .social--links span.twitter {
  padding: 1rem;
  background: rgb(7, 138, 245);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
#hero--section .social--links span.twitter .fa-twitter {
  color: white;
  font-size: 2rem;
}
@media screen and (min-width: 325px) {
  #hero--section .social--links span.twitter .fa-twitter {
    font-size: 1rem;
  }
}
@media screen and (min-width: 380px) {
  #hero--section .social--links span.twitter .fa-twitter {
    font-size: 1.1rem;
  }
}
@media screen and (min-width: 450px) {
  #hero--section .social--links span.twitter .fa-twitter {
    font-size: 1.1rem;
  }
}
@media screen and (min-width: 765px) {
  #hero--section .social--links span.twitter .fa-twitter {
    font-size: 1.4rem;
  }
}
#hero--section .text--area {
  margin-right: 20px;
}
@media screen and (min-width: 300px) {
  #hero--section .text--area {
    text-align: center;
    -ms-flex-line-pack: center;
        align-content: center;
  }
}
@media screen and (min-width: 500px) {
  #hero--section .text--area {
    text-align: center;
    -ms-flex-line-pack: center;
        align-content: center;
  }
}
@media screen and (min-width: 700px) {
  #hero--section .text--area {
    text-align: center;
    -ms-flex-line-pack: center;
        align-content: center;
  }
}
@media screen and (min-width: 800px) {
  #hero--section .text--area {
    text-align: center;
    -ms-flex-line-pack: center;
        align-content: center;
  }
}
#hero--section .text--area p.greeting--text::before {
  content: "@ ";
  width: 90px;
  height: 3px;
  color: black;
}
#hero--section .text--area p.greeting--text::after {
  content: " #";
  width: 90px;
  height: 3px;
  color: black;
}
#hero--section .text--area p.greeting--text {
  font-size: 1.5rem;
  color: rgb(139, 139, 139);
  text-transform: uppercase;
  font-weight: bolder;
}
@media screen and (min-width: 300px) {
  #hero--section .text--area p.greeting--text {
    font-size: 1.2rem;
  }
}
@media screen and (min-width: 500px) {
  #hero--section .text--area p.greeting--text {
    font-size: 1.5rem;
  }
}
@media screen and (min-width: 700px) {
  #hero--section .text--area p.greeting--text {
    font-size: 1.5rem;
  }
}
@media screen and (min-width: 800px) {
  #hero--section .text--area p.greeting--text {
    font-size: 1.5rem;
  }
}
@media screen and (min-width: 1020px) {
  #hero--section .text--area p.greeting--text {
    font-size: 1.5rem;
    text-align: left;
    padding-left: 1.5rem;
    margin-bottom: 0;
  }
}
#hero--section .text--area p.name {
  font-size: 5rem;
  text-transform: uppercase;
  font-weight: bolder;
  width: 600px;
  margin-bottom: 5px;
}
@media screen and (min-width: 300px) {
  #hero--section .text--area p.name {
    font-size: 1.65rem;
    margin: 1.5rem auto;
  }
}
@media screen and (min-width: 500px) {
  #hero--section .text--area p.name {
    font-size: 2.5rem;
    margin: 1.5rem auto;
  }
}
@media screen and (min-width: 700px) {
  #hero--section .text--area p.name {
    font-size: 3rem;
    margin: 1.5rem auto;
  }
}
@media screen and (min-width: 800px) {
  #hero--section .text--area p.name {
    font-size: 3rem;
    margin: 1.5rem auto;
  }
}
@media screen and (min-width: 1020px) {
  #hero--section .text--area p.name {
    font-size: 3rem;
    margin: 1rem auto;
  }
}
#hero--section .text--area p.short--description {
  width: 500px;
  word-wrap: break-word;
  margin-bottom: 5px;
  line-height: 1.5;
  color: rgb(80, 80, 80);
  font-size: 1.2rem;
  font-weight: 500;
}
@media screen and (min-width: 300px) {
  #hero--section .text--area p.short--description {
    width: 100%;
    padding: 0rem 9rem;
    font-size: 1rem;
    text-align: center;
  }
}
@media screen and (min-width: 500px) {
  #hero--section .text--area p.short--description {
    width: 100%;
    font-size: 1rem;
  }
}
@media screen and (min-width: 700px) {
  #hero--section .text--area p.short--description {
    width: 100%;
    font-size: 1.2rem;
  }
}
@media screen and (min-width: 800px) {
  #hero--section .text--area p.short--description {
    width: 100%;
    font-size: 1.2rem;
  }
}
@media screen and (min-width: 1020px) {
  #hero--section .text--area p.short--description {
    width: 500px;
    text-align: left;
    padding: 0.1rem 1.5rem;
  }
}
#hero--section .text--area .buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (min-width: 300px) {
  #hero--section .text--area .buttons {
    display: block;
    margin: 2rem auto;
  }
}
@media screen and (min-width: 500px) {
  #hero--section .text--area .buttons {
    display: block;
    margin: 2rem auto;
  }
}
@media screen and (min-width: 700px) {
  #hero--section .text--area .buttons {
    display: block;
    margin: 2rem auto;
  }
}
@media screen and (min-width: 800px) {
  #hero--section .text--area .buttons {
    display: block;
    margin: 2rem auto;
  }
}
@media screen and (min-width: 1020px) {
  #hero--section .text--area .buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: auto 1.4rem;
  }
}
#hero--section .text--area .buttons a {
  padding: 1rem 2rem;
  background: rgb(21, 21, 250);
  margin: 1rem 1rem 0 0;
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  font-size: 1.3rem;
  font-weight: bolder;
  letter-spacing: 1px;
  border: 3px solid rgb(21, 21, 250);
}
@media screen and (min-width: 300px) {
  #hero--section .text--area .buttons a {
    font-size: 1rem;
    padding: 0.5rem 1rem;
  }
}
#hero--section .text--area .buttons a:focus, #hero--section .text--area .buttons a:active {
  outline: none;
}
#hero--section .text--area .buttons a:nth-child(1) {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
#hero--section .text--area .buttons a:nth-child(1):hover {
  letter-spacing: 5px;
  background: transparent;
  color: blue;
}
#hero--section .text--area .buttons a:nth-child(2) {
  background-color: transparent;
  color: blue;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
#hero--section .text--area .buttons a:nth-child(2):hover {
  background-color: blue;
  color: white;
  letter-spacing: 5px;
}
#hero--section .image--area {
  margin-left: 20px;
}
#hero--section .image--area img.profile--picture {
  width: 450px;
  height: 450px;
  -webkit-transform: rotate(-10deg);
          transform: rotate(-10deg);
  -webkit-clip-path: circle();
          clip-path: circle();
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-box-shadow: 8px 3px 20px 0px rgb(177, 177, 177);
          box-shadow: 8px 3px 20px 0px rgb(177, 177, 177);
  -o-object-fit: cover;
     object-fit: cover;
}
@media screen and (min-width: 300px) {
  #hero--section .image--area img.profile--picture {
    margin-top: 4rem;
    width: 250px;
    height: 250px;
  }
}
@media screen and (min-width: 500px) {
  #hero--section .image--area img.profile--picture {
    width: 350px;
    height: 350px;
  }
}
@media screen and (min-width: 700px) {
  #hero--section .image--area img.profile--picture {
    width: 450px;
    height: 450px;
  }
}
@media screen and (min-width: 800px) {
  #hero--section .image--area img.profile--picture {
    width: 450px;
    height: 450px;
  }
}
@media screen and (min-width: 1020px) {
  #hero--section .image--area img.profile--picture {
    width: 390px;
    height: 390px;
  }
}
#hero--section .image--area img.profile--picture:hover {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-clip-path: none;
          clip-path: none;
}

@-webkit-keyframes rotateOriginal {}

@keyframes rotateOriginal {}
section#resume--area {
  width: 100vw;
  height: 90vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
section#resume--area p.coming--soon {
  text-transform: uppercase;
  font-size: 3rem;
}

#projects--area {
  margin-top: 6rem;
  padding: 0 3rem;
}
#projects--area .projects--header {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 2rem;
}
@media screen and (min-width: 300px) {
  #projects--area .projects--header {
    font-size: 1.2rem;
  }
}
@media screen and (min-width: 400px) {
  #projects--area .projects--header {
    font-size: 1.2rem;
  }
}
#projects--area .projects--container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media screen and (min-width: 300px) {
  #projects--area .projects--container {
    padding: 1rem 3rem;
  }
}
#projects--area .projects--container .project--1,
#projects--area .projects--container .project--2,
#projects--area .projects--container .project--3,
#projects--area .projects--container .project--4,
#projects--area .projects--container .project--5 {
  width: 100%;
  -ms-flex-item-align: center;
      align-self: center;
  -ms-flex-line-pack: center;
      align-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
#projects--area .projects--container .project--1 .project--image img,
#projects--area .projects--container .project--2 .project--image img,
#projects--area .projects--container .project--3 .project--image img,
#projects--area .projects--container .project--4 .project--image img,
#projects--area .projects--container .project--5 .project--image img {
  width: 450px;
  height: 270px;
  -o-object-fit: cover;
     object-fit: cover;
}
@media screen and (min-width: 300px) {
  #projects--area .projects--container .project--1 .project--image img,
#projects--area .projects--container .project--2 .project--image img,
#projects--area .projects--container .project--3 .project--image img,
#projects--area .projects--container .project--4 .project--image img,
#projects--area .projects--container .project--5 .project--image img {
    -o-object-fit: contain;
       object-fit: contain;
    width: 340px;
    height: 220px;
  }
}
@media screen and (min-width: 400px) {
  #projects--area .projects--container .project--1 .project--image img,
#projects--area .projects--container .project--2 .project--image img,
#projects--area .projects--container .project--3 .project--image img,
#projects--area .projects--container .project--4 .project--image img,
#projects--area .projects--container .project--5 .project--image img {
    width: 400px;
    height: 300px;
  }
}
#projects--area .projects--container .project--1 .project--description,
#projects--area .projects--container .project--2 .project--description,
#projects--area .projects--container .project--3 .project--description,
#projects--area .projects--container .project--4 .project--description,
#projects--area .projects--container .project--5 .project--description {
  width: 500px;
  margin-left: 1rem;
}
@media screen and (min-width: 300px) {
  #projects--area .projects--container .project--1 .project--description,
#projects--area .projects--container .project--2 .project--description,
#projects--area .projects--container .project--3 .project--description,
#projects--area .projects--container .project--4 .project--description,
#projects--area .projects--container .project--5 .project--description {
    width: 390px;
  }
}
@media screen and (min-width: 400px) {
  #projects--area .projects--container .project--1 .project--description,
#projects--area .projects--container .project--2 .project--description,
#projects--area .projects--container .project--3 .project--description,
#projects--area .projects--container .project--4 .project--description,
#projects--area .projects--container .project--5 .project--description {
    width: 460px;
  }
}
#projects--area .projects--container .project--1 .project--description h3.project--name,
#projects--area .projects--container .project--2 .project--description h3.project--name,
#projects--area .projects--container .project--3 .project--description h3.project--name,
#projects--area .projects--container .project--4 .project--description h3.project--name,
#projects--area .projects--container .project--5 .project--description h3.project--name {
  font-size: 2rem;
  margin-bottom: 0.5rem;
  text-transform: uppercase;
}
@media screen and (min-width: 300px) {
  #projects--area .projects--container .project--1 .project--description h3.project--name,
#projects--area .projects--container .project--2 .project--description h3.project--name,
#projects--area .projects--container .project--3 .project--description h3.project--name,
#projects--area .projects--container .project--4 .project--description h3.project--name,
#projects--area .projects--container .project--5 .project--description h3.project--name {
    font-size: 1.3rem;
  }
}
#projects--area .projects--container .project--1 .project--description p.description,
#projects--area .projects--container .project--2 .project--description p.description,
#projects--area .projects--container .project--3 .project--description p.description,
#projects--area .projects--container .project--4 .project--description p.description,
#projects--area .projects--container .project--5 .project--description p.description {
  font-size: 1.3rem;
}
@media screen and (min-width: 300px) {
  #projects--area .projects--container .project--1 .project--description p.description,
#projects--area .projects--container .project--2 .project--description p.description,
#projects--area .projects--container .project--3 .project--description p.description,
#projects--area .projects--container .project--4 .project--description p.description,
#projects--area .projects--container .project--5 .project--description p.description {
    font-size: 0.95rem;
  }
}
@media screen and (min-width: 500px) {
  #projects--area .projects--container .project--1 .project--description p.description,
#projects--area .projects--container .project--2 .project--description p.description,
#projects--area .projects--container .project--3 .project--description p.description,
#projects--area .projects--container .project--4 .project--description p.description,
#projects--area .projects--container .project--5 .project--description p.description {
    font-size: 1.1rem;
    width: 400px;
  }
}
#projects--area .projects--container .project--1 .project--description .tech--used h4,
#projects--area .projects--container .project--2 .project--description .tech--used h4,
#projects--area .projects--container .project--3 .project--description .tech--used h4,
#projects--area .projects--container .project--4 .project--description .tech--used h4,
#projects--area .projects--container .project--5 .project--description .tech--used h4 {
  text-transform: capitalize;
  margin: 0.8rem 0 0 0;
  font-size: 1.3rem;
}
#projects--area .projects--container .project--1 .project--description .tech--used p,
#projects--area .projects--container .project--2 .project--description .tech--used p,
#projects--area .projects--container .project--3 .project--description .tech--used p,
#projects--area .projects--container .project--4 .project--description .tech--used p,
#projects--area .projects--container .project--5 .project--description .tech--used p {
  margin-top: 0.5rem;
  font-size: 1.1rem;
}
#projects--area .projects--container .project--1 .project--description .project--btns,
#projects--area .projects--container .project--2 .project--description .project--btns,
#projects--area .projects--container .project--3 .project--description .project--btns,
#projects--area .projects--container .project--4 .project--description .project--btns,
#projects--area .projects--container .project--5 .project--description .project--btns {
  margin-top: 0.9rem;
}
#projects--area .projects--container .project--1 .project--description .project--btns button,
#projects--area .projects--container .project--2 .project--description .project--btns button,
#projects--area .projects--container .project--3 .project--description .project--btns button,
#projects--area .projects--container .project--4 .project--description .project--btns button,
#projects--area .projects--container .project--5 .project--description .project--btns button {
  padding: 0.7rem 1rem;
  font-family: "Quicksand", sans-serif;
  font-weight: bolder;
  font-size: 1.2rem;
  outline: none;
  border: none;
  color: white;
  background-color: blue;
  cursor: pointer;
}
#projects--area .projects--container .project--1 .project--description .project--btns button:hover,
#projects--area .projects--container .project--2 .project--description .project--btns button:hover,
#projects--area .projects--container .project--3 .project--description .project--btns button:hover,
#projects--area .projects--container .project--4 .project--description .project--btns button:hover,
#projects--area .projects--container .project--5 .project--description .project--btns button:hover {
  background-color: rgb(59, 59, 252);
}
@media screen and (min-width: 300px) {
  #projects--area .projects--container .project--1 .project--description {
    padding: 1rem 1.5rem;
  }
}
@media screen and (min-width: 300px) {
  #projects--area .projects--container .project--1 {
    padding: 1rem 2rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
@media screen and (min-width: 1020px) {
  #projects--area .projects--container .project--1 {
    padding: 1rem 2rem;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}
#projects--area .projects--container .project--2 {
  margin-top: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}
#projects--area .projects--container .project--2 .project--description {
  text-align: right;
  margin-right: 1rem;
}
@media screen and (min-width: 300px) {
  #projects--area .projects--container .project--2 .project--description {
    text-align: left;
    padding: 1rem 1.5rem;
  }
}
@media screen and (min-width: 300px) {
  #projects--area .projects--container .project--2 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
@media screen and (min-width: 1020px) {
  #projects--area .projects--container .project--2 {
    padding: 1rem 2rem;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
}
#projects--area .projects--container .project--3 {
  margin-top: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
#projects--area .projects--container .project--3 .project--description {
  text-align: left;
  margin-right: 1rem;
}
@media screen and (min-width: 300px) {
  #projects--area .projects--container .project--3 .project--description {
    padding: 1rem 1.5rem;
  }
}
@media screen and (min-width: 300px) {
  #projects--area .projects--container .project--3 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
@media screen and (min-width: 1020px) {
  #projects--area .projects--container .project--3 {
    padding: 1rem 2rem;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}
#projects--area .projects--container .project--4 {
  margin-top: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}
#projects--area .projects--container .project--4 .project--description {
  text-align: right;
  margin-right: 1rem;
}
@media screen and (min-width: 300px) {
  #projects--area .projects--container .project--4 .project--description {
    text-align: left;
    padding: 1rem 1.5rem;
  }
}
@media screen and (min-width: 300px) {
  #projects--area .projects--container .project--4 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
@media screen and (min-width: 1020px) {
  #projects--area .projects--container .project--4 {
    padding: 1rem 2rem;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
}
#projects--area .projects--container .project--5 {
  margin-top: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
#projects--area .projects--container .project--5 .project--description {
  text-align: left;
  margin-right: 1rem;
}
@media screen and (min-width: 300px) {
  #projects--area .projects--container .project--5 .project--description {
    text-align: left;
    padding: 1rem 1.5rem;
  }
}
@media screen and (min-width: 300px) {
  #projects--area .projects--container .project--5 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
@media screen and (min-width: 1020px) {
  #projects--area .projects--container .project--5 {
    padding: 1rem 2rem;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

#experiences--area {
  height: 60vh;
  margin: 20rem;
}
@media screen and (min-width: 300px) {
  #experiences--area {
    margin: 8rem 2rem;
  }
}
@media screen and (min-width: 700px) {
  #experiences--area {
    margin: 8rem 5rem;
  }
}
@media screen and (min-width: 1000px) {
  #experiences--area {
    margin: 16rem 8rem 0rem 8rem;
  }
}
#experiences--area .experiences--header {
  font-size: 3rem;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 2.5rem;
}
@media screen and (min-width: 300px) {
  #experiences--area .experiences--header {
    font-size: 1.1rem;
  }
}
#experiences--area .experience--desc--container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
@media screen and (min-width: 300px) {
  #experiences--area .experience--desc--container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
@media screen and (min-width: 916px) {
  #experiences--area .experience--desc--container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}
#experiences--area .experience--desc--container p.experiences--description {
  font-size: 1.2rem;
  text-align: left;
  -webkit-box-flex: 50%;
      -ms-flex: 50%;
          flex: 50%;
  margin-right: 1rem;
  line-height: 1.7;
}
@media screen and (min-width: 300px) {
  #experiences--area .experience--desc--container p.experiences--description {
    margin-bottom: 1.3rem;
    font-size: 1rem;
  }
}
#experiences--area .experience--desc--container .technology--images {
  -webkit-box-flex: 50%;
      -ms-flex: 50%;
          flex: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: 1rem;
}
#experiences--area .experience--desc--container .technology--images img {
  width: 120px;
  height: 120px;
}
@media screen and (min-width: 300px) {
  #experiences--area .experience--desc--container .technology--images img {
    width: 70px;
    height: 70px;
  }
}
@media screen and (min-width: 600px) {
  #experiences--area .experience--desc--container .technology--images img {
    width: 100px;
    height: 100px;
  }
}
@media screen and (min-width: 900px) {
  #experiences--area .experience--desc--container .technology--images img {
    width: 101px;
    height: 101px;
  }
}

#contacts--area {
  width: 100%;
  height: 60vh;
  margin-top: 20rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (min-width: 300px) {
  #contacts--area {
    margin-top: 40rem;
    height: 100vh;
  }
}
@media screen and (min-width: 500px) {
  #contacts--area {
    margin-top: 10rem;
    height: 80vh;
  }
}
@media screen and (min-width: 900px) {
  #contacts--area {
    margin-top: 10rem;
    height: 50vh;
    margin-bottom: 8rem;
  }
}
#contacts--area .contacts--header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 2rem;
}
@media screen and (min-width: 300px) {
  #contacts--area .contacts--header {
    font-size: 1.3rem;
  }
}
#contacts--area .contacts--header span {
  font-family: "Fasthand", cursive;
}
#contacts--area .contacts--header img {
  width: 60px;
  height: 60px;
  margin-left: 1rem;
}
@media screen and (min-width: 300px) {
  #contacts--area .contacts--header img {
    width: 50px;
    height: 50px;
  }
}
#contacts--area .form--area {
  width: 500px;
  height: 800px;
}
@media screen and (min-width: 300px) {
  #contacts--area .form--area {
    width: 300px;
    height: 500px;
  }
}
#contacts--area .form--area form .name {
  margin-bottom: 1.2rem;
}
#contacts--area .form--area form .name label {
  font-weight: bolder;
  text-transform: uppercase;
  font-size: 1.5rem;
}
@media screen and (min-width: 300px) {
  #contacts--area .form--area form .name label {
    font-size: 1rem;
  }
}
#contacts--area .form--area form .name input {
  margin-top: 1rem;
  width: 100%;
  padding: 0.7rem 1rem;
  outline: none;
  border: 1px solid gray;
}
@media screen and (min-width: 300px) {
  #contacts--area .form--area form .name input {
    padding: 0.5rem;
  }
}
#contacts--area .form--area form .name input[type=text],
#contacts--area .form--area form .name input[type=text] {
  font-family: "Quicksand", sans-serif;
  font-size: 1.3rem;
  font-weight: 600;
}
#contacts--area .form--area form .email {
  margin-bottom: 1.2rem;
}
#contacts--area .form--area form .email label {
  font-weight: bolder;
  text-transform: uppercase;
  font-size: 1.5rem;
}
@media screen and (min-width: 300px) {
  #contacts--area .form--area form .email label {
    font-size: 1.2rem;
  }
}
#contacts--area .form--area form .email input {
  margin-top: 1rem;
  width: 100%;
  padding: 0.7rem 1rem;
  outline: none;
  border: 1px solid gray;
}
@media screen and (min-width: 300px) {
  #contacts--area .form--area form .email input {
    padding: 0.5rem;
  }
}
#contacts--area .form--area form .email input[type=email],
#contacts--area .form--area form .email input[type=email] {
  font-family: "Quicksand", sans-serif;
  font-size: 1.3rem;
  font-weight: 600;
}
#contacts--area .form--area form .message {
  margin-bottom: 1.2rem;
}
#contacts--area .form--area form .message label {
  font-weight: bolder;
  text-transform: uppercase;
  font-size: 1.5rem;
}
@media screen and (min-width: 300px) {
  #contacts--area .form--area form .message label {
    font-size: 1.2rem;
  }
}
#contacts--area .form--area form .message textarea {
  margin-top: 1rem;
  width: 100%;
  height: 250px;
  padding: 0.7rem 1rem;
  outline: none;
  border: 1px solid gray;
  font-family: "Quicksand", sans-serif;
  font-size: 1.3rem;
}
@media screen and (min-width: 300px) {
  #contacts--area .form--area form .message textarea {
    height: 200px;
  }
}
#contacts--area .form--area form .submit--btn button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0.8rem 1rem;
  font-family: "Quicksand", sans-serif;
  font-weight: bolder;
  text-transform: uppercase;
  font-size: 1.1rem;
  outline: none;
  border: 3px solid transparent;
  background-color: blue;
  color: white;
}
@media screen and (min-width: 300px) {
  #contacts--area .form--area form .submit--btn button {
    font-size: 1rem;
    padding: 0.5rem;
  }
}
#contacts--area .form--area form .submit--btn button .fa-telegram {
  width: 30px;
  height: 30px;
  margin-left: 1rem;
  color: white;
}

footer#footer--area {
  width: 100%;
  height: 8vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background-color: rgb(252, 244, 233);
  margin-top: 2rem;
}
@media screen and (min-width: 300px) {
  footer#footer--area {
    height: 20vh;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    line-height: 2;
  }
}
@media screen and (min-width: 600px) {
  footer#footer--area {
    height: 10vh;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}
@media screen and (min-width: 900px) {
  footer#footer--area {
    height: 10vh;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}
footer#footer--area .copyrights p.copyright {
  font-weight: bold;
  font-family: "Quicksand", sans-serif;
  font-size: 1.1rem;
}
footer#footer--area .contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media screen and (min-width: 300px) {
  footer#footer--area .contacts {
    text-align: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
@media screen and (min-width: 500px) {
  footer#footer--area .contacts {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    line-height: 2;
  }
}
@media screen and (min-width: 800px) {
  footer#footer--area .contacts {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    line-height: 2;
  }
}
footer#footer--area .contacts .write--message {
  margin-right: 1rem;
}
footer#footer--area .contacts .write--message p {
  font-weight: bolder;
}
footer#footer--area .contacts .write--message a {
  text-decoration: none;
  color: gray;
}
footer#footer--area .contacts .follow--me p {
  font-weight: bold;
}
footer#footer--area .contacts .follow--me .icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
footer#footer--area .contacts .follow--me .icons a {
  text-decoration: none;
  color: gray;
}