@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@600&display=swap");
*,
*::before,
*::after {
  padding: 0px;
  margin: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #ffffff;
}

::-webkit-scrollbar-thumb {
  background: #ff866e;
  border-radius: 50px;
}

body,
html {
  width: 100vw;
  height: 100vh;
  font-family: "Quicksand", sans-serif;
  position: relative;
  overflow-x: hidden;
  background-color: rgb(240, 240, 240);
}

header {
  width: 100vw;
  height: 8vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1rem;
  background-color: white;
  position: sticky;
  top: 0;
  left: 0;
}
header .logo--area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
header .logo--area .logo--darker {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
header .logo--area .logo--darker .box {
  margin-right: 0.5rem;
}
header .logo--area .logo--darker .box .fa-square {
  -webkit-animation: twinkle 0.5s alternate infinite;
          animation: twinkle 0.5s alternate infinite;
}
header .logo--area .logo--lighter {
  margin-left: 0.5rem;
}
header nav .nav--list .nav--items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
header nav .nav--list .nav--items .nav--item {
  text-transform: uppercase;
  list-style-type: none;
  margin: 0 0.3rem;
}
header nav .nav--list .nav--items .nav--item a {
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-weight: bolder;
  font-size: 0.9rem;
}
header nav .nav--list .nav--items .nav--item a:hover {
  cursor: pointer;
}

@-webkit-keyframes twinkle {
  0% {
    color: red;
  }
  20% {
    color: rgb(0, 102, 255);
  }
  40% {
    color: rgb(234, 0, 255);
  }
  60% {
    color: rgb(238, 255, 0);
  }
  80% {
    color: rgb(0, 255, 21);
  }
}

@keyframes twinkle {
  0% {
    color: red;
  }
  20% {
    color: rgb(0, 102, 255);
  }
  40% {
    color: rgb(234, 0, 255);
  }
  60% {
    color: rgb(238, 255, 0);
  }
  80% {
    color: rgb(0, 255, 21);
  }
}
#hero--section {
  width: 100%;
  height: 100vh;
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}
#hero--section .social--links {
  position: fixed;
  top: 200px;
  left: 0px;
  z-index: 99;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
#hero--section .social--links span.gmail {
  padding: 1rem;
  background: rgb(245, 17, 47);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
#hero--section .social--links span.gmail .fa-google {
  color: white;
  font-size: 2rem;
}
#hero--section .social--links span.linkedin {
  padding: 1rem;
  background: rgb(6, 91, 161);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
#hero--section .social--links span.linkedin .fa-linkedin-in {
  color: white;
  font-size: 2.3rem;
}
#hero--section .social--links span.github {
  padding: 1rem;
  background: rgb(0, 0, 0);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
#hero--section .social--links span.github .fa-github {
  color: white;
  font-size: 2rem;
}
#hero--section .social--links span.twitter {
  padding: 1rem;
  background: rgb(7, 138, 245);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
#hero--section .social--links span.twitter .fa-twitter {
  color: white;
  font-size: 2rem;
}
#hero--section .text--area {
  margin-right: 20px;
}
#hero--section .text--area p.greeting--text {
  margin-bottom: 5px;
  font-size: 1.5rem;
  color: gray;
  text-transform: uppercase;
}
#hero--section .text--area p.name {
  font-size: 5rem;
  text-transform: uppercase;
  font-weight: bolder;
  width: 600px;
  margin-bottom: 5px;
}
#hero--section .text--area p.short--description {
  width: 500px;
  word-wrap: break-word;
  margin-bottom: 5px;
  line-height: 1.5;
  color: gray;
  font-size: 1.2rem;
}
#hero--section .text--area .buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
#hero--section .text--area .buttons a {
  padding: 1rem 2rem;
  background: rgb(21, 21, 250);
  margin: 1rem 1rem 0 0;
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  font-size: 1.3rem;
}
#hero--section .image--area {
  margin-left: 20px;
}
#hero--section .image--area img.profile--picture {
  width: 500px;
  height: 500px;
}

section#resume--area {
  width: 100vw;
  height: 90vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
section#resume--area p.coming--soon {
  text-transform: uppercase;
  font-size: 3rem;
}