@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');

*,
*::before,
*::after {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: #ffffff;
}

::-webkit-scrollbar-thumb {
    background: blue;
    border-radius: 50px;
}

body,
html {
    width: 100vw;
    height: 100vh;
    font-family: 'Quicksand', sans-serif;
    position: relative;
    overflow-x: hidden;
    background-color: rgb(240, 240, 240);
}

.margin__top {
    margin-top: 10rem!important;
}


@mixin mq($size) {
    @media screen and (min-width: $size) {
        @content;
    }
}