@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@600&display=swap');

*,
*::before,
*::after {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #ffb5a7;
}

::-webkit-scrollbar-thumb {
    background: #ff866e;
    border-radius: 50px;
}

body,
html {
    width: 100vw;
    height: 100vh;
    font-family: 'Quicksand', sans-serif;
    position: relative;
    overflow-x: hidden; 
}