.cover--section {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.8)), url('/images/christopher-gower-m_HRfLhgABo-unsplash.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  line-height: 2;

  h1.name--area {
    font-family: 'Quicksand', sans-serif;
    color: white;
    text-transform: uppercase;
    font-size: 5rem;
    letter-spacing: 3px;

    @include mq(320px) {
      font-size: 1.1rem;
    }

    @include mq(380px) {
      font-size: 1.4rem;
    }

    @include mq(450px) {
      font-size: 1.4rem;
    }

    @include mq(770px) {
      font-size: 3rem;
    }

  }

  hr.divider {
    width: 300px;
    height: 2px;
    background-color: white;
    margin-bottom: 1rem;

    @include mq(325px) {
      width: 100px;
    }

    @include mq(380px) {
      width: 150px;
    }

    @include mq(450px) {
      width: 150px;
    }

    @include mq(770px) {
      width: 200px;
    }

  }

  .role--short--desc {
    color: white;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 2rem;

    @include mq(325px) {
      font-size: 1rem;
    }

    @include mq(380px) {
      font-size: 1.2rem;
    }

    @include mq(450px) {
      font-size: 1.2rem;
    }

    @include mq(770px) {
      font-size: 1.5rem;
    }

  }

  .cover--btns {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;

    a {
      background-color: transparent;
      padding: 0.4rem 1.3rem;
      color: white;
      font-size: 1.2rem;
      font-family: 'Quicksand', sans-serif;
      text-transform: uppercase;
      text-decoration: none;
      border: 1px solid white;
      margin: 1rem 1rem;
      transition: all 0.3s ease;
      // animation: twinkle all 0.4s ease;
      
      @include mq(325px) {
        padding: 0.4rem 0.6rem;
        font-size: 0.8rem;
      }
      
      @include mq(380px) {
        padding: 0.4rem 1rem;
        font-size: 0.8rem;
      }

      @include mq(450px) {
        padding: 0.4rem 1rem;
        font-size: 0.9rem;
      }

      @include mq(770px) {
        padding: 0.4rem 1rem;
        font-size: 1rem;
      }

      &:nth-child(1):hover,
      &:nth-child(2):hover,
      &:nth-child(3):hover {
        cursor: pointer;
        background: rgba(0, 0, 0, 0.479);
        color: white;
        transform: scale(1);
        border: 1px solid transparent;
      }

      &:active,
      &:focus {
        outline: none;
      }

    }

  }

}

