#experiences--area {
  height: 40vh;
  margin: 30rem 20rem;

  @include mq(300px) {
    margin: 8rem 0rem;
  }

  @include mq(700px) {
    margin: 8rem 0rem;
  }

  @include mq(1000px) {
    margin-top: 15rem;
  }

  .experiences--header {
    font-size: 3rem;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 2.5rem;

    @include mq(300px) {
      font-size: 1.1rem;
    }

  }

  .experiences--banner {
    width: 100%;
    height: 40vh;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(9rem, 9fr));
    place-items: center;
    background-image: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.6)), url("https://images.unsplash.com/photo-1517503733723-8ea1cf616798?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NDV8fGRldmVsb3BlcnN8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60");
    background-size: cover;
    object-fit: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding: none;
    margin: 0!important;

    @include mq(300px) {
      flex-direction: column;
    }

    @include mq(916px) {
      flex-direction: row;
    }

    img {
      width: 100px;
      height: 100px;

      @include mq(300px) {
        width: 60px;
        height: 60px;
      }

      @include mq(500px) {
        width: 80px;
        height: 80px;
      }

      @include mq(600px) {
        width: 100px;
        height: 100px;
      }

      @include mq(900px) {
        width: 101px;
        height: 101px;
      }

      @include mq(1000px) {
        width: 130px;
        height: 130px;
      }

    }

  }


}