#experiences--area {
  height: 60vh;
  margin: 20rem;

  @include mq(300px) {
    margin: 8rem 2rem;
  }

  @include mq(700px) {
    margin: 8rem 5rem;
  }

  @include mq(1000px) {
    margin-left: 10rem;
    margin-right: 10rem;
  }

  .experiences--header {
    font-size: 3rem;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 2.5rem;

    @include mq(300px) {
      font-size: 1.1rem;
    }

  }

  .experiences--banner {
    width: 100%;
    height: 20vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-image: url("https://images.unsplash.com/photo-1509966756634-9c23dd6e6815?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTV8fGRldmVsb3BlcnN8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60");
    background-size: contain;
    background-position: center center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    padding: none;
    margin: 0;

    @include mq(300px) {
      flex-direction: column;
    }

    @include mq(916px) {
      flex-direction: row;
    }

    .technology--images {
      flex: 50%;
      display: flex;
      flex-wrap: wrap;
      margin-left: 1rem;

      img {
        width: 120px;
        height: 120px;

        @include mq(300px) {
          width: 70px;
          height: 70px;
        }

        @include mq(600px) {
          width: 100px;
          height: 100px;
        }

        @include mq(900px) {
          width: 101px;
          height: 101px;
        }

        @include mq(1000px) {
          width: 153px;
          height: 153px;
        }

      }

    }

  }


}