#experiences--area {
  height: 60vh;
  margin: 20rem;

  @include mq(300px) {
    margin: 8rem 2rem;
  }

  @include mq(700px) {
    margin: 8rem 5rem;
  }

  @include mq(1000px) {
    margin-left: 10rem;
    margin-right: 10rem;
  }

  .experiences--header {
    font-size: 3rem;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 2.5rem;

    @include mq(300px) {
      font-size: 1.1rem;
    }

  }

  .experience--desc--container {
    display: flex;
    align-items: center;
    justify-content: space-around;

    @include mq(300px) {
      flex-direction: column;
    }

    @include mq(916px) {
      flex-direction: row;
    }

    p.experiences--description {
      font-size: 1.2rem;
      text-align: left;
      flex: 50%;
      margin-right: 1rem;
      line-height: 1.7;

      @include mq(300px) {
        margin-bottom: 1.3rem;
        font-size: 1rem;
      }

      @include mq(500px) {
        font-size: 1.2rem;
      }
    
      @include mq(1000px) {
        font-size: 1.3rem;
      }

    }

    .technology--images {
      flex: 50%;
      display: flex;
      flex-wrap: wrap;
      margin-left: 1rem;

      img {
        width: 120px;
        height: 120px;

        @include mq(300px) {
          width: 70px;
          height: 70px;
        }

        @include mq(600px) {
          width: 100px;
          height: 100px;
        }

        @include mq(900px) {
          width: 101px;
          height: 101px;
        }

        @include mq(1000px) {
          width: 153px;
          height: 153px;
        }

      }

    }

  }


}