header.header--area {
 display: flex;
 align-items: center;
 justify-content: space-between;
 width: 100%;
 height: 7vh;
 padding: 1rem;
 background: #f8edeb;
 position: fixed;
 top: 0;
 left: 0;
 z-index: 999;
 
 .logo--area {
     display: flex;
     align-items: center;
     justify-content: space-between;

     .logo--darker {
         display: flex;
         align-items: center;
         justify-content: space-between;

         .box .fa-square{
             margin-right: 0.5rem;
             color: blue;
         }
         .name p {
             font-size: 1.1rem;
             color: #000;
             text-transform: uppercase;
             font-weight: bolder;
             margin-right: 2rem;
             font-family: 'Quicksand', sans-serif;
         }
     }

     .logo--lighter {
         .occupation p {
             font-size: 1rem;
             text-transform: capitalize;
             font-family: 'Quicksand', sans-serif;
             font-weight: 100;
         }
     }


 }

 nav.navbar {
     display: flex;
     align-items: center;
     justify-content: space-between;

     .nav--list {
         ul {
             display: flex;
             align-items: center;
             justify-content: center;
             list-style: none;

             li {
                 margin-right: 0.8rem;

                 a {
                     color: rgb(92, 92, 92)!important;
                     text-transform: uppercase;
                     font-size: 0.85rem;
                     text-decoration: none;
                     font-family: 'Quicksand', sans-serif;
                     font-weight: 600;

                     &:visited {
                         color: purple;
                     }

                     &:active {
                         color: gray;
                     }

                     &:link {
                         color: gray;
                     }
                 }

             }

         }
     }

 }

}