section#hero--area {
 width: 100%;
 height: 90vh;
 padding-top: 3rem;
 margin-top: 0;
 display: flex;
 flex-direction: row;

 .profile--area,
 .about--area {
     flex: 45%;
 }

 .profile--area {
     background-color: #f9dcc4;
     text-align: center;
     
     .card--image {
         width: 450px;
         height: 570px;
         position: absolute;
         top: 8rem;
         left: 32rem;
         background-color: #fec89a;
         text-align: center;
         position: relative;
         box-shadow: -4px 11px 10px 1px rgb(161, 161, 161);
     
         .image {
             img {
                 margin-top: 1rem;
                 width: 250px;
                 height: 250px;
                 object-fit: contain;
                 border-radius: 50%;
             }
         }

         .profile--name p {
             margin-top: 2rem;
             font-weight: bolder;
             color: black;
             font-size: 2.5rem;
         }

         .breaker {
             text-align: center;
             background-color: blue;
             height: 3px;
             transform: translate(450%, 100%);
             width: 10%;
             margin: 2rem 0 2rem 0;

         }

         .occupation p {
             letter-spacing: 5px;
             margin-top: 3rem;
             font-size: 1.1rem;
             
             span.js-yellow {
                 background-color: yellow;
                 padding: 1rem 0 0 1rem;
                 font-weight: bolder;
             }
         }

         .card--footer {
             margin-top: 4rem;
             background: #ffffff;
             width: 100%;
             height: 60px;
             
             ul.icons {
                 padding-top: 1rem;
                 margin-top: 4rem;
                 display: flex;
                 align-items: center;
                 justify-content: space-around;
                 list-style: none;

                 li {
                     a {
                         .fa-github,
                         .fa-twitter,
                         .fa-linkedin-in,
                         .fa-instagram {
                             color: rgb(0, 0, 0);
                             font-size: 1.4rem;
                         }
                     }
                 }
             }
         }

     }
 }

 .about--area {
     margin-top: 12rem;
     margin-left: 6rem;
     
     .main--header {
         margin-bottom: 2rem;
         
         h1 {
             font-size: 9rem;
             text-transform: capitalize;
             letter-spacing: 3px;
         }
         
     }
     
     .intro-section p {
         margin-bottom: 2.2rem;
         font-weight: bolder;
         font-size: 2rem;
     }

     .buttons--cta {
         margin-bottom: 2rem;

         button.resume {
             padding: 0.8rem 1rem;
             width: 20%;
             color: white;
             background-color: #ffb5a7;
             border-radius: 5px;
             text-transform: uppercase;
             border: 2px solid #ffb5a7;
             font-family: 'Quicksand', sans-serif;
             font-size: 1.2rem;
             font-weight: bolder;
             letter-spacing: 3px;
             margin-right: 1rem;
             transition: all 0.5s ease;

             &:hover {
                 background-color: transparent;
                 color: #ffb5a7;
                 border: 2px solid #ffb5a7;
                 cursor: pointer;
             }
         }

         button.projects {
             padding: 0.8rem 1rem;
             width: 20%;
             color: #ffa694;
             background-color: transparent;
             border-radius: 5px;
             text-transform: uppercase;
             border: 2px solid #fca290;
             font-family: 'Roboto', sans-serif;
             font-weight: bolder;
             font-family: 'Quicksand', sans-serif;
             font-size: 1.2rem;
             letter-spacing: 3px;
             margin-right: 1rem;
             transition: all 0.5s ease;

             &:hover {
                 background-color: #ffb5a7;
                 color: rgb(255, 255, 255);
                 border: 2px solid #ffa391;
                 cursor: pointer;
             }
         }

         
     }

     .intro-description p {
         margin-top: 3rem;
         font-family: 'Quicksand', sans-serif;
         font-weight: 500;
         font-size: 1.2rem;
         width: 50%;
         line-height: 1.5;
     }

 }

}