#hero--section {
  width: 100%;
  height: 100vh;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

  @include mq(300px) {
    margin-top: 7rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 0 10rem;
  }
  
  @include mq(400px) {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 0 10rem;
  }
  
  @include mq(500px) {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 0 10rem;
  }

  @include mq(600px) {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  @include mq(700px) {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  @include mq(800px) {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  @include mq(900px) {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  @include mq(1020px) {
    display: flex;
    align-items: center;
    flex-direction: row;
  }

  .social--links {
    position: fixed;
    top: 200px;
    left: 0px;
    z-index: 99;
    display: flex;
    align-items: center;
    flex-direction: column;

    @include mq(325px) {
      top: 0px;
      display: flex;
      align-items: center;
      flex-direction: row;
    }

    @include mq(380px) {
      top: 0px;
      display: flex;
      align-items: center;
      flex-direction: row;
    }

    @include mq(450px) {
      top: 0px;
      display: flex;
      align-items: center;
      flex-direction: row;
    }

    @include mq(730px) {
      top: 200px;
      flex-direction: column;
    }

    @include mq(770px) {
      top: 200px;
      flex-direction: column;
    }

    span.gmail {
      padding: 1rem;
      background: rgb(245, 17, 47);
      display: flex;
      align-items: center;
      justify-content: center;

      .fa-google {
        color: white;
        font-size: 2rem;

        @include mq(325px) {
          font-size: 1rem;
        }

        @include mq(380px) {
          font-size: 1.1rem;
        }

        @include mq(450px) {
          font-size: 1.1rem;
        }

        @include mq(765px) {
          font-size: 1.4rem;
        }

      }
    }

    span.linkedin {
      padding: 1rem;
      background: rgb(6, 91, 161);
      display: flex;
      align-items: center;
      justify-content: center;

      .fa-linkedin-in {
        color: white;
        font-size: 2.3rem;

        @include mq(325px) {
          font-size: 1rem;
        }

        @include mq(380px) {
          font-size: 1.1rem;
        }

        @include mq(450px) {
          font-size: 1.1rem;
        }

        @include mq(765px) {
          font-size: 1.4rem;
        }

      }
    }

    span.github {
      padding: 1rem;
      background: rgb(0, 0, 0);
      display: flex;
      align-items: center;
      justify-content: center;

      .fa-github {
        color: white;
        font-size: 2rem;

        @include mq(325px) {
          font-size: 1rem;
        }

        @include mq(380px) {
          font-size: 1.1rem;
        }

        @include mq(450px) {
          font-size: 1.1rem;
        }

        @include mq(765px) {
          font-size: 1.4rem;
        }

      }
    }

    span.twitter {
      padding: 1rem;
      background: rgb(7, 138, 245);
      display: flex;
      align-items: center;
      justify-content: center;

      .fa-twitter {
        color: white;
        font-size: 2rem;

        @include mq(325px) {
          font-size: 1rem;
        }

        @include mq(380px) {
          font-size: 1.1rem;
        }

        @include mq(450px) {
          font-size: 1.1rem;
        }

        @include mq(765px) {
          font-size: 1.4rem;
        }

      }
    }

    
  }


  .text--area {
    margin-right: 20px;

    @include mq(300px) {
      text-align: center;
      align-content: center;
    }

    @include mq(500px) {
      text-align: center;
      align-content: center;
    }

    @include mq(700px) {
      text-align: center;
      align-content: center;
    }

    @include mq(800px) {
      text-align: center;
      align-content: center;
    }

    p.greeting--text::before {
      content: '@ ';
      width: 90px;
      height: 3px;
      color: black;

    }

    p.greeting--text::after {
      content: ' #';
      width: 90px;
      height: 3px;
      color: black;
    }

    p.greeting--text {
      font-size: 1.5rem;
      color: rgb(139, 139, 139);
      text-transform: uppercase;
      font-weight: bolder;

      @include mq(300px) {
        font-size: 1.2rem;
      }

      @include mq(500px) {
        font-size: 1.5rem;
      }

      @include mq(700px) {
        font-size: 1.5rem;
      }

      @include mq(800px) {
        font-size: 1.5rem;
      }

      @include mq(1020px) {
        font-size: 1.5rem;
        text-align: left;
        padding-left: 1.5rem;
        margin-bottom: 0;
      }

    }

    p.name {
      font-size: 5rem;
      text-transform: uppercase;
      font-weight: bolder;
      width: 600px;
      margin-bottom: 5px;

      @include mq(300px) {
        font-size: 2rem;
        margin: 1.5rem auto;
      }

      @include mq(500px) {
        font-size: 2.5rem;
        margin: 1.5rem auto;
      }

      @include mq(700px) {
        font-size: 3rem;
        margin: 1.5rem auto;
      }

      @include mq(800px) {
        font-size: 3rem;
        margin: 1.5rem auto;
      }

      @include mq(1020px) {
        font-size: 3rem;
        margin: 1rem auto;
      }

    }

    p.short--description {
      width: 500px;
      word-wrap: break-word;
      margin-bottom: 5px;
      line-height: 1.5;
      color: rgb(80, 80, 80);
      font-size: 1.2rem;
      font-weight: 500;

      @include mq(300px) {
        width: 100%;
        padding: 0rem 6.7rem;
        font-size: 0.9rem;
        text-align: center;
      }

      @include mq(500px) {
        width: 100%;
        font-size: 1rem;
      }

      @include mq(700px) {
        width: 100%;
        font-size: 1.2rem;
      }

      @include mq(800px) {
        width: 100%;
        font-size: 1.2rem;
      }

      
      @include mq(1020px) {
        width: 500px;
        text-align: left;
        padding: 0.1rem 1.5rem;
      }

    }

    .buttons {
      display: flex;

      @include mq(300px) {
        display: block;
        margin: 2rem auto;
      }

      @include mq(500px) {
        display: block;
        margin: 2rem auto;
      }

      @include mq(700px) {
        display: block;
        margin: 2rem auto;
      }

      @include mq(800px) {
        display: block;
        margin: 2rem auto;
      }

      @include mq(1020px) {
        display: flex;
        margin: auto 1.4rem;
      }

      a {
        padding: 1rem 2rem;
        background: rgb(21, 21, 250);
        margin: 1rem 1rem 0 0;
        text-decoration: none;
        color: white;
        text-transform: uppercase;
        font-size: 1.3rem;
        font-weight: bolder;
        letter-spacing: 1px;
        border: 3px solid rgb(21, 21, 250);

        @include mq(300px) {
          font-size: 1rem;
          padding: 0.5rem 1rem;
        }
        
        &:focus,
        &:active {
          outline: none;
        }

        &:nth-child(1) {
          transition: all 0.5s ease;

          &:hover {
            letter-spacing: 5px;
            background: transparent;
            color: blue;
          }
        }

        &:nth-child(2) {
          background-color: transparent;
          color: blue;
          transition: all 0.5s ease;
          
          &:hover {
            background-color: blue;
            color: white;
            letter-spacing: 5px;
          }
        }
      }

    }

  }

  .image--area {
    margin-left: 20px;

    img.profile--picture {
      width: 450px;
      height: 450px;
      transform: rotate(-10deg);
      clip-path: circle();
      transition: all 0.3s ease;
      box-shadow: 8px 3px 20px 0px rgb(177, 177, 177);
      object-fit: cover;

      @include mq(300px) {
        width: 250px;
        height: 250px;
      }

      @include mq(500px) {
        width: 350px;
        height: 350px;
      }

      @include mq(700px) {
        width: 450px;
        height: 450px;
      }

      @include mq(800px) {
        width: 450px;
        height: 450px;
      }

      
      @include mq(1020px) {
        width: 390px;
        height: 390px;
      }
      
      &:hover {
        transform: rotate(0deg);
        clip-path: none;
      }
    }
  }

}

// ANIMATIONS
@keyframes rotateOriginal {
  
}