.projects--area {
  margin-top: 6rem;
  padding: 0 3rem;

  .projects--header {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 2rem;

    @include mq(300px) {
      font-size: 1.2rem;
    }

    @include mq(400px) {
      font-size: 1.2rem;
    }

  }

  .projects--container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    @include mq(300px) {
      padding: 1rem 3rem;
    }

    .project--1,
    .project--2,
    .project--3,
    .project--4,
    .project--5,
    .project--6,
    .project--7,
    .project--8,
    .project--9,
    .project--10 {
      width: 100%;
      align-self: center;
      align-content: center;
      display: flex;
      align-items: center;
      justify-content: center;

      .project--image {
        img {
          width: 450px;
          height: 270px;
          object-fit: contain;

          @include mq(300px) {
            object-fit: contain;
            width: 340px;
            height: 220px;
          }

          @include mq(400px) {
            object-fit: contain;
            width: 400px;
            height: 300px;
          }

          @include mq(700px) {
            width: 500px;
            height: 400px;
            object-fit: contain;
          }

        }
      }

      .project--description {
        width: 500px;
        margin-left: 1rem;

        @include mq(300px) {
          width: 390px;
        }

        @include mq(400px) {
          width: 460px;
        }
        
        h3.project--name {
          font-size: 2rem;
          margin-bottom: 0.5rem;
          text-transform: uppercase;

          @include mq(300px) {
            font-size: 1.3rem;
          }

        }

        p.description {
          font-size: 1.3rem;

          @include mq(300px) {
            font-size: 0.95rem;
          }

          @include mq(500px) {
            font-size: 1.1rem;
            width: 430px;
          }

        }

        .tech--used {
          h4 {
            text-transform: capitalize;
            margin: 0.8rem  0 0 0;
            font-size: 1.3rem;
          }
          p {
            margin-top: 0.5rem;
            font-size: 1.1rem;
          }
        }

        .project--btns {
          margin-top: 0.9rem;
          
          a.view--project {
            text-decoration: none;
            padding: 0.5rem 1rem;
            font-family: 'Quicksand', sans-serif;
            font-weight: bolder;
            font-size: 1rem;
            outline: none;
            border: none;
            color: white;
            background-color: blue;
            cursor: pointer;
            
            &:hover {
              background-color: rgb(59, 59, 252);
            }
          }
        }

      }

    }

    .project--1 {

      .project--description {
        @include mq(300px) {
          padding: 1rem 1.5rem;
        }
      }

      @include mq(300px) {
        padding: 1rem 2rem;
        flex-direction: column;
      }

      @include mq(1020px) {
        padding: 1rem 2rem;
        flex-direction: row;
      }

    }

    .project--2 {
      margin-top: 1rem;
      display: flex;
      flex-direction: row-reverse;

      .project--description {
        text-align: right;
        margin-right: 1rem;

        @include mq(300px) {
          text-align: left;
          padding: 1rem 1.5rem;
        }

      }

      @include mq(300px) {
        flex-direction: column;
      }

      @include mq(1020px) {
        padding: 1rem 2rem;
        flex-direction: row-reverse;
      }

    }

    .project--3 {
      margin-top: 1rem;
      display: flex;
      flex-direction: row;

      .project--description {
        text-align: left;
        margin-right: 1rem;

        @include mq(300px) {
          padding: 1rem 1.5rem;
        }
      }

      @include mq(300px) {
        flex-direction: column;
      }

      @include mq(1020px) {
        padding: 1rem 2rem;
        flex-direction: row;
      }

    }

    .project--4 {
      margin-top: 1rem;
      display: flex;
      flex-direction: row-reverse;

      .project--description {
        text-align: right;
        margin-right: 1rem;

        @include mq(300px) {
          text-align: left;
          padding: 1rem 1.5rem;
        }
      }

      @include mq(300px) {
        flex-direction: column;
      }

      @include mq(1020px) {
        padding: 1rem 2rem;
        flex-direction: row-reverse;
      }

    }

    .project--5 {
      margin-top: 1rem;
      display: flex;
      flex-direction: row;

      .project--description {
        text-align: left;
        margin-right: 1rem;

        @include mq(300px) {
          text-align: left;
          padding: 1rem 1.5rem;
        }
      }

      @include mq(300px) {
        flex-direction: column;
      }

      @include mq(1020px) {
        padding: 1rem 2rem;
        flex-direction: row;
      }

    }

    .project--6 {
      margin-top: 1rem;
      display: flex;
      flex-direction: row-reverse;

      .project--description {
        text-align: left;
        margin-right: 1rem;

        @include mq(300px) {
          text-align: left;
          padding: 1rem 1.5rem;
        }
      }

      @include mq(300px) {
        flex-direction: column;
      }

      @include mq(1020px) {
        padding: 1rem 2rem;
        flex-direction: row-reverse;
      }

    }

    .project--7 {
      margin-top: 1rem;
      display: flex;
      flex-direction: row;

      .project--description {
        text-align: left;
        margin-right: 1rem;

        @include mq(300px) {
          text-align: left;
          padding: 1rem 1.5rem;
        }
      }

      @include mq(300px) {
        flex-direction: column;
      }

      @include mq(1020px) {
        padding: 1rem 2rem;
        flex-direction: row;
      }

    }

    .project--8 {
      margin-top: 1rem;
      display: flex;
      flex-direction: row-reverse;

      .project--description {
        text-align: left;
        margin-right: 1rem;

        @include mq(300px) {
          text-align: left;
          padding: 1rem 1.5rem;
        }
      }

      @include mq(300px) {
        flex-direction: column;
      }

      @include mq(1020px) {
        padding: 1rem 2rem;
        flex-direction: row-reverse;
      }

    }

    .project--9 {
      margin-top: 1rem;
      display: flex;
      flex-direction: row;

      .project--description {
        text-align: left;
        margin-right: 1rem;

        @include mq(300px) {
          text-align: left;
          padding: 1rem 1.5rem;
        }
      }

      @include mq(300px) {
        flex-direction: column;
      }

      @include mq(1020px) {
        padding: 1rem 2rem;
        flex-direction: row;
      }

    }

    .project--10 {
      margin-top: 1rem;
      display: flex;
      flex-direction: row-reverse;

      .project--description {
        text-align: left;
        margin-right: 1rem;

        @include mq(300px) {
          text-align: left;
          padding: 1rem 1.5rem;
        }
      }

      @include mq(300px) {
        flex-direction: column;
      }

      @include mq(1020px) {
        padding: 1rem 2rem;
        flex-direction: row-reverse;
      }

    }

  }

}